.caixaDeEntrada{
    width:300px;
    height:50px;
    background-color: rgb(221, 219, 219);
    border-radius: 10px;
    border: 0pt;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: medium;
}

.caixaDeComentario{
    width:300px;
    height: 100px;
    background-color: rgb(221, 219, 219);
    border-radius: 10px;
    border: 0pt;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: medium;
}

.caixaDeFormsLoginEContato{
    padding: 1em;
    width: 35%;
    height:50%;
    background-color: white;
    border-radius: 10px;
    border-color: #ffffff;
    
}

.botaoEntrarLogin{
    width:300px;
    height:50px;
    color: white;
    background-color: rgb(68, 151, 230);
    border-radius: 10px;
    border: 0pt;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: medium;
    font-weight: bold;
}

.botaoNav{
    width:100px;
    height:30px;
    color: white;
    background-color: rgb(23, 162, 184);
    border-radius: 10px;
    border: 0pt;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: medium;
}

.bodyLoginEContato{
    background-color: rgb(218, 218, 218);
    align-items: center;
}


.fieldsetPersonalizado{
    border: 0;
}

.bodyLoginEContatoEscuro{
    background-color: #111;
    align-items: center;
}

.caixaDeEntradaEscuro{
    width:300px;
    height:50px;
    background-color: #333;
    border-radius: 10px;
    border: 0pt;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: medium;
    color: white;
}

.caixaDeComentarioEscuro{
    width:300px;
    height: 100px;
    background-color: #333;
    border-radius: 10px;
    border: 0pt;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: medium;
    color: white;
}

.caixaDeFormsLoginEContatoEscuro{
    padding: 1em;
    width: 35%;
    height:50%;
    background-color: #222;
    border-radius: 10px;
}

.botaoEntrarLoginEscuro{
    width:300px;
    height:50px;
    color: white;
    background-color: rgb(0, 29, 158);
    border-radius: 10px;
    border: 0pt;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    font-size: medium;
}
