        <div style="height: 70px;"></div>
        <header class="container-fluid row mx-auto p-1" style="margin: top 80px;">
            <div class="col-sm-2">
                <img src="/public/imagens/logovideo.png" class="w-50">
            </div>  
            <div class="col-sm-8 text-center">
                <h1 class="font-weight-bold" style="font-size:30px; color:#5A18C9">SEU CONTEÚDO FAVORITO ESTÁ AQUI<BR>QUANDO QUISER E ONDE ESTIVER</h1>
            </div>
            <div class="col-sm-2">
            </div>  
        </header> 
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top mb-3">
                <form class="form-inline mx-auto">
                    <a class="navbar-brand" href="/HomeAdm"><button class="btn btn-outline-light btn-sm" type="button">Home</button></a>
                    <a class="navbar-brand" href="/CadastroProdutos"><button class="btn btn-outline-success btn-sm" type="button">Cadastro de Produtos</button></a>
                    <a class="navbar-brand" href="/UpdPromo"><button class="btn btn-outline-warning btn-sm" type="button">Atualiza Promoções</button></a>
                    <a class="navbar-brand" href="/RelatorioChamadas"><button class="btn btn-outline-info btn-sm" type="button">Relatório de Chamadas</button></a>
                    <a class="navbar-brand" href="/RelatorioComercial"><button class="btn btn-outline-danger btn-sm" type="button">Relatório Comercial</button></a>
                </form>
            </nav>        
        </div>