<%-include('../partials/adm/header.ejs')%>
<%-include('../partials/adm/nav.ejs')%>

        <section class="container">
            <h1 class="text-center mt-3" style="background-color:#E0D1FA ;"><b>Cadastro de Administradores</b></h1>
            <center>
            <div class="form-group mt-4">
                <form id="formRegistro" method="post" class="w-50 mx-auto" action="/CadastrarAdm" class="w-50 mx-auto p-3 mt-4 mb-5" 
                style="border:1px solid #ccc;border-radius: 12px;" onsubmit="verificaSenha(event)">
                    <fieldset class="fieldsetPersonalizado p-3 mt-3">
                        <legend class="text-center text-primary"><b>Preencha os dados para o cadastro</b></legend>
                        <div>
                            <img class="w-25" src="/public/imagens/login.png">
                        </div>
                        <div>
                            <input id="nome" class="form-control w-100 mt-3" name="nome" placeholder="Nome"/>
                            <input id="email" class="form-control w-100 mt-3" name="email" placeholder="Email" type="email" />
                            <input id="senha" class="form-control w-100 mt-3" name="senha" placeholder="Senha" type="password" />
                            <input id="senhaC" class="form-control w-100 mt-3" name="confirmacao-senha-usuario" placeholder="Confirme a senha" type="password" />
                        </div>
                        <div> 
                            <button id="btRegistro" class="mt-3 btn btn-info" type="submit">Cadastrar</button>
                        </div>        
                    </fieldset>
                </form>
            </div>
            </center>
        </section>
    <script>
        const senha = document.getElementById('senha')
        const senhaC = document.getElementById('senhaC')

        function verificaSenha(event){
            if(senha.value == senhaC.value);
            else{
                event.preventDefault();
                alert('Senhas Diferentes!')
            }
        }
    </script>

<%-include('../partials/adm/footer.ejs')%>