<%-include('../partials/adm/header.ejs')%>
<%-include('../partials/adm/nav.ejs')%>

        <section class="container text-center">
            <div class="mt-5 mb-5">
                <div class="row">
                <div class="col-sm-6">
                    <h3>Cadastro de Produtos</h3>
                    <div class="row">
                        <div class="col-sm-12"><a href="/CadastroProdutos">
                            <img class="w-25 mx-auto" src="/public/imagens/cadastroprod.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>Sessão Relatório</h3>
                    <div class="row">
                        <div class="col-sm-12"><a href="/RelatorioChamadas">
                            <img class="w-25 mx-auto" src="/public/imagens/relatorio3.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mt-5">
                    <h3>Relatorio comercial</h3>
                    <div class="row">
                        <div class="col-sm-12"><a href="/RelatorioComercial">
                            <img class="w-25 mx-auto" src="/public/imagens/cadastro.png" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mt-5">
                    <h3>Sessão Cupom</h3>
                    <div class="row">
                        <div class="col-sm-12"><a href="">
                            <img class="w-25 mx-auto" src="/public/imagens/cupom2.png" />
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>            
        <script>
            let user= localStorage.emailUser
            let bemVindo=document.querySelector("#bemVindo")
            let sair=document.querySelector("#sair")

            function msgUser(){ // Função para ocultar link entrar quando logado.
                let nomeUser=user.substring(0,user.indexOf('@')) // Pega apenas a informação que está antes do "@" e está dentro da função, pois é quando ela existe.
                bemVindo.innerHTML='Olá <b>' + nomeUser.toUpperCase() + '!</b>'
            }

            function resetUser(){ // Função para ocultar link sair quando não estivar logado.
                entrar.style.display="none"
                sair.style.display="none"
            }

            sair.onclick=function(){ // Função que remove o usuário e reinicia a página inicial
                localStorage.removeItem('emailUser')
                location.href='/LoginAdm'
            }

            localStorage.emailUser ? msgUser() : resetUser() // Ternário 'if' que verifica o entrar e sair.

        </script>

<%-include('../partials/adm/footer.ejs')%>