<%-include('../partials/adm/header.ejs')%>
<%-include('../partials/adm/nav.ejs')%>

        <section id="tabs" class="project-tab row mt-4 mr-5 ml-5">
            <div class="col-sm-8 card pb-3">
                <!-- Navegação -->
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#assinantes" role="tab" aria-controls="nav-home" aria-selected="true">Assinantes</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#aluguel" role="tab" aria-controls="nav-profile" aria-selected="false">Aluguel</a>
                    </div>
                </nav>
                <!-- Final navegação -->
                
                <!-- Assinantes | Aluguel -->
                <div class="tab-content" id="nav-tabContent">

                    <!-- Assinantes inicio-->
                    <div class="tab-pane fade show active" id="assinantes" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Descrição do Serviço</th>
                                    <th>Valor</th>
                                </tr>
                                <hr>
                            </thead>
                            <tbody id="tabAssinaturas">

                            </tbody>
                        </table>
                        <hr>
                        <div class="mr-5"style="text-align: right;">
                            <span><b>Total: R$ </b></span><span id="totalAssinaturasTab"></span>
                        </div>
                    </div>

                    <!-- Aluguel -->
                    <div class="tab-pane fade" id="aluguel" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Descrição do Serviço</th>
                                    <th>Valor</th>
                                </tr>
                                <hr>
                            </thead>
                            <tbody id="tabAluguel">

                            </tbody>
                        </table>
                        <hr>
                        <div class="mr-5"style="text-align: right;">
                            <span><b>Total: R$ </b></span><span id="totalAluguelTab"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h5 class="text-center">Visão Macro</h5>
                <div class="card p-2">
                    <div>
                        <span><b>Assinantes: </b></span><span id="numAssinantes"></span>
                        <br>
                        <span><b>Total: R$ </b></span><span id="totalAssinantes"></span>
                    </div>
                    <div>
                        <br>
                        <span><b>Filmes Alugados: </b></span><span id="numAlugados"></span>
                        <br>
                        <span><b>Total: R$ </b></span><span id="totalAlugados"></span>
                    </div>
                    <div>
                        <br>
                        <p><b>Média de filmes alugados:  </b></p><span id="mediaFilmes"></span>

                    </div>
                </div>
            </div>
            <div class="row mt-5 col-sm-12">
                <div class="col"></div>
                <div class="card col-sm-3 p-5"></div>
                <div class="col"></div>
                <div class="card col-sm-3 p-5"></div>
                <div class="col"></div>
                <div class="card col-sm-3 p-5"></div>
                <div class="col"></div>
            </div>
        </section>
    <script src="../jsAdm/relatorio-comercial.js"></script>

<%-include('../partials/adm/footer.ejs')%>