<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta lang="pt-br">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <title>Relatório Chamadas</title>
    </head>
    <body>
        <header class="row mx-auto my-auto p-1">
            <div class="col-sm-2 my-auto">
                <img src="../imagens/logovideo.png" class="w-50 mt-4 mb-0">
            </div>  
            <div class="col-sm-8 text-center my-auto">
                <h1 class="font-weight-bold mt-4 mb-0" style="font-size:30px; color:firebrick">ÁREA DO ADMINISTRADOR, SEJA BEM-VINDO!</h1>
            </div>
            <div class="col-sm-2 my-auto">
            </div>  
        </header>
        <article class="mt-4 ml-5 mr-5">
            <div>
                <div class="row text-center">
                    <div class="col-sm-7 card p-3 mr-1">
                        <h2 class="card-title">Relatório de Chamadas</h2><hr>
                        <div class="row">
                            <div class="col-sm-3"><h4>Cliente</h4></div>
                            <div class="col-sm-3"><h4>Assunto</h4></div>
                            <div class="col-sm-3"><h4>Descricao</h4></div>
                            <div class="col-sm-3"><h4>Email</h4></div>

                        </div><hr>
                        <div id="dadosChamado" class="row">
                            <%chamadas.forEach(chamada => {%>
                                <div class="col-sm-3"><span><%=chamada.nome_ch%></span></div>
                                <div class="col-sm-3"><span><%=chamada.assunto_ch%></span></div>
                                <div class="col-sm-3"><span><%=chamada.comentario_ch%></span></div>
                                <div class="col-sm-3"><span><%=chamada.email_ch%></span></div>
                            <%})%>
                        </div><hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <p>Próximo cliente a ser atendido:</p>
                                <div id="proxClient"></div>
                            </div>
                            <div class="col-sm-7"><button type="button" id="confAtendimento" class="btn btn-info">Confirmar Atendimento</button></div>
                        </div>
                    </div>
                    <div class="col-sm-3 card text-left p-3">
                        <p>CHAMADAS ATENDIDAS</p>
                        <p>Total: <span id="chAtend"></span></p>
                        <p>CHAMADAS PENDENTES</p>
                        <p>Total: <span id="chPend"></span></p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="card col-sm-4 p-5"></div>
                    <div class="card col-sm-4 p-5"></div>
                    <div class="card col-sm-4 p-5"></div>
                </div>
            </div>
        </article>
        <footer class="bg-dark p-4 text-warning text-center mt-4">
            <p>&copy;2022 - Todos os direitos reservados</p>
        </footer>
    </body>
 <!-- <script src="../jsAdm/relatorio-chamadas.js"></script> -->
</html>