        <footer class="bg-dark p-4 text-warning text-center mt-4">
            <p>&copy;Live Streaming 2022 - Todos os direitos reservados - <button class="btn btn-sm btn-warning" disabled>SQUAD<span class="badge badge-pill badge-danger">4</span>CODE&trade;</button></p>
        </footer>
    </body>
</html>