        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top mb-3">
                <form class="form-inline mx-auto">
                    <a class="navbar-brand" href="/"><button class="btn btn-outline-light btn-sm" type="button">Home</button></a>
                    <a class="navbar-brand" href="/Produtos"><button class="btn btn-outline-success btn-sm" type="button">Produtos</button></a>
                    <a class="navbar-brand" href="/Promocoes"><button class="btn btn-outline-warning btn-sm" type="button">Promoções</button></a>
                    <a class="navbar-brand" href="/Contato"><button class="btn btn-outline-info btn-sm" type="button">Contato</button></a>
                    <a class="navbar-brand" href="/Carrinho"><button class="btn btn-outline-danger btn-sm" type="button">Carrinho</button></a>
                    <a id="perfil" class="navbar-brand" href="/Perfil"><button class="btn btn-outline-light btn-sm" type="button">Perfil</button></a>
                </form>
            </nav>        
        </div>