<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta lang="pt-br">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <title>Cadastro de Produtos</title>
    </head>
    <body>
        <header class="row mx-auto my-auto p-1">
            <div class="col-sm-2 my-auto">
                <img src="../imagens/logovideo.png" class="w-50 mt-4 mb-0">
            </div>  
            <div class="col-sm-8 text-center my-auto">
                <h1 class="font-weight-bold mt-4 mb-0" style="font-size:30px; color:firebrick">ÁREA DO ADMINISTRADOR, SEJA BEM-VINDO!</h1>
            </div>
            <div class="col-sm-2 my-auto">
            </div>  
        </header>
        <body class="cadastroProdutos">
            <section class="container mt-3">
                <h1 class="text-center" style="background-color:#E0D1FA ;"><b>Cadastro de Produtos</b></h1>
                <center>
                <div class="form-group mt-4">
                    <form id="formCadastroprodutos" enctype="multipart/form-data" method="post" class="w-50 mx-auto" action="/CadastroProduto" class="w-50 mx-auto p-3 mt-4 mb-5" 
                    style="border:1px solid #ccc;border-radius: 12px;">
                        <fieldset class="fieldsetPersonalizado mt-3">
                            <legend class="text-center text-primary"><b>Preencha os dados do produto</b></legend>
                            <div class="p-3">
                                <input id="nomeFilme" class="form-control w-100 mt-3" name="titulo_fi" placeholder="Filme" maxlength="50" />
                                <input id="categoriaFilme" class="form-control w-100 mt-3" name="genero_fi" placeholder="Categoria" type="text" />
                                <input id="anoFilme" class="form-control w-100 mt-3" name="ano_fi" placeholder="Ano" type="text"/>
                                <input class="form-control w-100 mt-3" name="diretor_fi" placeholder="Diretor" type="text"/>
                                <input class="form-control w-100 mt-3" name="valor_fi" placeholder="R$ 00.00" type="text"/>
                                <input class="form-control w-100 mt-3" name="link_trailer_fi" placeholder="Link Trailer" type="url"/>
                                <input id="imagemFilme" class="form-control w-100 mt-3" name="file" placeholder="Imagem" type="file"  accept=".jpg"/>
                                <div>
                                    <textarea name="sinopse_fi" class="form-control w-100 mt-3" id="sinopse_fi" rows="8"placeholder="Sinopse"></textarea>
                                </div>
                                <div>
                                    <button id="btCadastroprodutos" class="mt-2 btn btn-info" type="submit">Salvar</button>
                                </div>
                            </div>    
                            <div class="text-center mt-2 mb-2">
                                <a href="/Produtos"><button class="btn btn-info"> Ver Produtos</button></a>
                            </div>    
                        </fieldset>
                    </form>
                </div>
                </center>
            </section>
        <footer class="bg-dark p-4 text-warning text-center mt-4">
            <p>&copy;2022 - Todos os direitos reservados</p>
        </footer>
    <script src="../jsAdm/cadastroProdutos.js"></script>
</html>