<%- include('header.ejs') %>
<%- include('nav.ejs') %>

        <section class="container-fluid" style="margin: top 80px;">
            <h1 class="alert text-center" style="background-color:#E0D1FA ;"><b>Formulário de Contato</b></h1>
            <article>
                <form id="formContato" action="/enviarChamado" method="post" class="w-50 mx-auto p-3 mt-4 mb-3" style="border:1px solid #ccc; border-radius: 12px;">                     
                    <fieldset>
                        <legend class="text-center"><b>Preencha as informações abaixo</b></legend>
                        <div class="form-group">
                            <label>Nome</label>
                            <input class="form-control" name="nomeContato" id="nomeContato" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" name="emailContato" id="emailContato" type="email" required>
                        </div>
                        <div class="form-group">
                            <label>Assunto</label>
                            <input class="form-control" name="assuntoContato" id="assuntoContato" maxlength="50" required>
                        </div>                    
                        <div class="form-group">
                            <label>Comentários<br /></label>
                            <textarea class="form-control" name="comentario" id="comentario" rows="8"></textarea> 
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="chamado" id="chamado" />
                            <label for="chamado">Quero abrir um chamado para este assunto.</label>
                        </div>
                        <div class="text-center">
                            <button id="btContato" type="submit" class="btn btn-info">Confirmar</button>
                        </div>
                    </fieldset>
                </form>
            </article>          
            <article>
                <h2 class="text-center mt-4 mb-2"><b>Contatos da equipe de Suporte</b></h2>
                <table class="mx-auto" border="1" width="500">
                    <tr>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Telefone</th>
                    </tr>
                    <tr>
                        <td>Jarbas Neto</td>
                        <td>jarbas.neto@channelonline.com.br</td>
                        <td>(11)96311-7304</td>
                    </tr>
                    <tr>
                        <td>Aurora Bleiser</td>
                        <td>aurora@channelonline.com.br</td>
                        <td>(13)91341-4301</td>
                    </tr>
                </table>
            </article>
        </section>

<%- include('footer.ejs') %>