<%- include('../partials/usuario/header.ejs') %>
    <section>
        <center>
        <h1 class="text-center mt-2" style="background-color:#E0D1FA ;"><b>Cadastro de Novo Cliente</b></h1>
        <div class="form-group">
            <form action="" method="POST" class="w-50 mx-auto p-3 mt-3 mb-5" style="border:1px solid #ccc;border-radius: 12px;">
                <fieldset>
                    <div>
                        <img class="w-25" src="/public/imagens/login.png">
                    </div>
                    <legend class="text-center"><b>Preencha os campos abaixo</b></legend>
                    <div>
                        <input id="nomeUser" class="form-control w-100 mt-3" name="nome" placeholder="Nome" maxlength="50" />
                        <input id="emailUser" class="form-control w-100 mt-3" name="email" placeholder="Email" type="email" />
                        <input id="senhaUser" class="form-control w-100 mt-3" name="senha" placeholder="Senha" type="password" />
                        <input id="senhaC" class="form-control w-100 mt-3" name="confirmacao_senha_usuario" placeholder="Confirme a senha" type="password" />
                    </div>
                    <div>
                        <button id="btRegistro" class="mt-3 btn btn-info" type="submit">Cadastrar</button>
                    </div>        
                </fieldset>
            </form>
        </div>
        </center>
    </section>
    <script src="../js/cadastro.js"></script>
    <script>
        const senha = document.getElementById('senhaUser')
        const senhaC = document.getElementById('senhaC')

        function verificaSenha(event){
            if(senha.value == senhaC.value);
            else{
                event.preventDefault();
                alert('Senhas Diferentes!')
            }
        }
    </script>
<%- include('../partials/usuario/footer.ejs') %>